.clickable:hover {
  text-decoration: underline;
  color: red;
}

.showcard {
}

.hidecard {
  display: none;
}

[id^='initially-hidden'] {
  display: none;
}

[class^='clickable'] {
  cursor: pointer;
  color: hotpink;
}

.well {
  padding: 50px;
  text-align: center;
  background-color: lightblue;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
