.clickable:hover {
  text-decoration: underline;
  color: red;
}

.showcard {
}

.hidecard {
  display: none;
}

[id^='initially-hidden'] {
  display: none;
}

[class^='clickable'] {
  cursor: pointer;
  color: hotpink;
}
